.form-group {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    /* align-items: center; */
}

.form-group > button {
    width: 100%;
}

 